.login-container {
    width: 40%;
    border: 1px lavender solid;
    height: 350px;
    padding: 10px;
    margin-left: 27%;
    margin-top: 5%;
    margin-bottom: 40%;
    background-color: rgb(201, 216, 214);
}

.login-container > header {
    text-align: center;
    font-size: 25px;
    color: #fff;
}