.home-navigation {
    border: 1px snow solid;
    background-color: cadetblue;
}
.home-navigation a {
    float: left;
    margin-right: 40px;
    list-style-type: none;
}
/* nav a {
    text-decoration: none;
} */
nav a:hover {
    background-color: blue;
}
nav a.active {
    background-color:#fff !important;
}